:root{
    --purple: #3e0249;
}

body{
    margin: 0;
    padding: 0;
    color: var(--purple);
}

*{
    box-sizing: border-box;
}

h1{
    text-transform: uppercase;
    font-size: 32px;;
}

.container{
    padding:40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gameboard{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box{
    display: flex;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    color: var(--purple);
    font-size: 150px;

}

button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--purple);
    color: #fff;
    font-size: 18px;
    transition: 200ms transform;
}

button:hover{
    cursor: pointer;
    transform: translateY(-2px);
}